.card {
    display: block;
}

.owner-icon {
    width: 40px;
    height: auto;
}

.create-day {
    text-align: right;
}

.btn-box {
    text-align: right;
}

.user-icon {
    width: 50px;
    height: auto;
    float: left;
}