main {
    width: 100%;
    height: calc(100% - 76px);
}

.content {
    width: calc(100vw - 350px);
}

.group-box {
    height: auto;
    min-height: 80%;
}

a.card-link {
    width: 300px;
    color: #212529;
    text-decoration: none;
    float: left;
}

.card-link .card:hover {
    background-color: rgb(245, 245, 245);
    transition: background-color 200ms;
}

.user-info {
    float: right;
}

.user-info p {
    float: left;
    margin: 0 10px 10px 0;
}

.card-body .user-info .user-img {
    width: 20px;
}