.profile-img{
    display:flex;
    flex-direction: column;
    float:left;
    width:20%;
    align-items:center;
}

.profile{
    width:80%;
    float:right;
}

.card{
    display: inline-block;
}

.card.login-card ul{
    list-style:none;
}

.change-confirm-buttons :first-child{
    margin-right:10%;
}

.card.login-card .btn{
    margin-left:80%
}

.password-change{
    margin-bottom:20px;
    margin-top:20px;
}