p {
  font-size: 20pt;
}

.maininfo {
  /* border: solid;
  margin: 30px 280px 30px 280px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125); */
  position: absolute; /* 位置指定 */
  margin-left: 38%;
  margin-right: auto;
}

.create-btn {
  /* display: block;
  margin: 0 0 0 auto;*/
  font-size: 20pt;
  background-color: #007bff;
  color: #ffffff;
  border: 0px;
}

.radiosize {
  font-size: 23px;
}

input[type="radio"] {
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.test {
  text-align: center;
}

input[type="text"] {
  width: 100%;
}

input[type="password"] {
  width: 100%;
}

.title {
  text-align: center;
}

.mall-err-text,
.pass-err-text,
.name-err-text,
.gender-err-text,
.birthday-err-text {
  font-size: initial;
  font-size: 15pt;
  color: red;
  display: none;
}

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: black;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
