p {
  font-size: 20pt;
}

.maininfo {
  border: solid;
  margin: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.create-btn {
  display: block;
  margin: 0 0 0 auto;
  font-size: 20pt;
}
