html,
body {
    height: 100%;
}

main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.side-grop {
    width: 300px;
    /* position: fixed; */
    height: 100%;
    float: left;
}

.content {
    /* position: fixed; */
    /* height: 100%; */
    width: calc(100% - 300px);
    float: left;
}